[2014-05-16 22:54] mcouto opened #1 "Not working with Phonegap Build"
This plugin is not working with the popular Phonegap Build portal.

Error: "Malformed xml in plugin.xml file"

[2014-09-30 17:27] jimdebeer opened #4 "Samsung smart Tv model UE40F8000ST - 2013"
Tested on:

[code]

Im using the cordova connectSDK (1.3.2)  for an ios app all seems to work fine , I can build and run the plugin, I can pick a device , my device shows up (it supports dial) after I try to run any command I either get:
   --- command not supported
        (for app launches, may not be supported does work with dial for youtube and netflix)
   --- no respone at all
### Device show

[2014-12-14 02:32] manifestinteractive opened #5 "AirPlay Drops video after 55 seconds with ConnectSDK.AirPlayServiceMode.MEDIA"
I am using the Cordova plugin that is currently in master with Android and iOS ConnecSDK.  I am experiencing the exact same issue with both operating systems when using **Apple TV** Devices.

We have mp4 videos that are 30 minutes long ( sample: http://bd-long-version.s3.amazonaws.com/472537.mp4 ) and both Android and iOS drop the video completely between 55 - 60 seconds in.
### Here is our Discov

[2014-12-16 05:49] VKhazinGladiator opened #6 "Exception calling playMedia: java.lang.NullPointerException"
Google sdk extras are from v7
Cordova 4.1.2
Android-21

Error when calling: mediaPlayer.playMedia

Object {message: "Exception calling playMedia: java.lang.NullPointerException", detail: "com.connectsdk.cordova.JSCommandDispatcher$Dispatc…calling playMedia: java.lang.NullPointerException"}
detail: "com.connectsdk.cordova.JSCommandDispatcher$DispatcherException: Exception calling playMedia: java.la

[2014-12-26 10:41] manifestinteractive opened #7 "shouldLoop not working"
Greetings,

I am not having any luck getting `shouldLoop` to work on any device ( tried Apple TV, Chromecast & Roku ) using either Android or iOS via this Cordova Plugin.

This is the code I am using to test ( uses a 10 second video ):

[code]

The video plays fine but stops after playing once.

I have tried the following options without success:

[code]

I also noticed a possible bug in the `Conn

[2014-12-30 09:14] wthomsen opened #8 "Multiple Disconnects When Resuming WebApp"
I'm trying to implement basic resume functionality with a Chromecast webApp:

[code]

When following:
1. launch webApp
2. kill sender app
3. re-open sender app and join webApp

The join succeeds, but the receiver logs two separate depart (sender disconnection) events, with a join in-between. I believe it is related to https://github.com/ConnectSDK/Connect-SDK-Android-Google-Cast/commit/97fabe8f47a

[2015-01-06 23:38] #5 closed, assigned to eunikolsky

[2015-01-16 07:03] khk624 commented on #8
Latest c-sdk, we've changed the scenario little bit.
In the client application side, after you join the web app, you need to setWebAppSessionListener by yourself.

This issue has been resolved in
https://github.com/ConnectSDK/Connect-SDK-Cordova-Plugin/commit/2bb4ac327a68453378b4874649918fed24d7a52f

and Sampler also has modified in
https://github.com/ConnectSDK/Web-App-Sampler-Cordova/commit/0871

[2015-01-16 21:24] FuningXu1 opened #9 "More controls over launchYouTube(videoId) API?"
Hi,

Is there anything I can do to listen a event that the playing video is finished?
Are there any more controls such as play, pause, seek, skip?

Thanks!

[2015-01-20 02:20] khk624 commented on #8
I'm going to close this, if you have any issue, please re-open this ticket or let us know.

[2015-01-20 02:20] #8 closed

[2015-01-21 00:56] iadnan opened #10 "Multiple Disconnects When Resuming WebApp"
Related to issue .

https://github.com/ConnectSDK/Connect-SDK-Cordova-Plugin/issues/8

[2015-01-22 11:15] Vaporexpress opened #11 "Attempted to send a second callback for ID: ConnectSDKXXXXXXX"
When subscribe volume or playstate second callback return "Attempted to send a second callback for ID: ConnectSDKXXXXXXX"

Related: http://stackoverflow.com/a/20938905

[2015-01-22 20:26] Vaporexpress opened #12 "Acquire launchsession is not working"
In ConnectSDK.js, this condition avoid that launcsessions (device.getMediaPlayer & device.getLauncher) to be acquired:
if (this._objectId === undefined) {
            return this;
}

[2015-01-27 08:55] jonofe opened #13 "Is cordova on Ubuntu supported?"
Hi Guys,

I'm trying to create a very simple TV control application which I can use on my Linux (Ubuntu) server to integrate my LG TV's in my home automation.

Is that possible by using Connect-SDK with the cordova-plugin on Ubuntu?

I already setup the LG SDK emulator and installed cordova on my ubuntu server and I installed the Hello_Connect example. but I ran into an js-error.

Therefore my fir

[2015-02-11 16:10] drastick opened #14 "Is this still being maintained?"
On the website there are no new downloads since v1.3.1. Seems like other things are getting love but not Cordova.

[2015-02-12 00:01] viveksekar commented on #14
@drastick apologies from our side, for not keeping the cordova plugin up-to-date. we are under staffed in this area now, trying our best to fill that gap.

[2015-02-12 05:46] khk624 commented on #13
Sorry for late feedback.
Currently, we're not supporting cordova-ubuntu; Instead, if you want to make home automation for LG WebOSTV, you can do it through websocket. (Please check WebOSTVService code either iOS or Android), but that's only for webOSTV.

and about the second questions, you'd better go to http://developer.lge.com.
They have better feedback for webOSTV SDK.

[2015-02-12 14:00] drastick commented on #14
Any ideas on a timeframe that we might see some progress?

[2015-02-18 00:57] #1 closed

[2015-04-10 22:35] st15guitarworld opened #15 "webAppSession disconnect not fired after web app joined"
this.getDevice().getWebAppLauncher().joinWebApp(this.getWebAppId()).success(function(websession){
          this.setAppSession(websession);
          websession.on("disconnect",this.cleanUpSession,this);
},this).error(function(err){
console.log(err.message);
},this);

When I try to add a callback on the disconnect event on the new webAppSession returned from the joinWebApp function  it never gets

[2015-04-28 14:33] drastick commented on #14
I'm guessing it is now safe to say that this project is dead?

[2015-04-28 18:49] viveksekar commented on #14
@drastick we are starting the work on this project again. As of end of last week, we have 1 engineer working on getting the cordova plugin up to date with the iOS and Android repos.

[2015-04-28 18:49] #14 closed

[2015-05-11 16:25] ds8k opened #16 "Build errors - package not found"
Having an issue with getting this integrated into my Ionic application. I got the SDK installed for iOS (pretty simple) but Android is proving to be a challenge. I can't build my project with Cordova as I get a ton of errors about the ConnectSDK files:

[code]

Looks like I'm the only dummy having this problem. Anyone else willing to help out?

[2015-05-11 18:15] frolov-alexey commented on #16
Before compiling cordova project please be sure that you have the latest Android SDK with updated google-play-services, android support repository etc, latest cordova, gradle, all these applications should be accessible from command line.

You can try this simple setup instruction:
 * Create\Download a new cordova project (it can be Connect-SDK-Cordova- API-Sampler)
         - for new empty projec

[2015-05-11 18:17] ds8k commented on #16
This has been done but compiling still gives me that error. I'm currently running cordova 4.3. Could that be the issue?

[2015-05-11 18:18] frolov-alexey commented on #16
No, It works fine with 1.4.3. What errors do you have?

[2015-05-11 18:19] ds8k commented on #16
I posted the error above

It goes on and one, over 100 errors.

[2015-05-11 18:21] frolov-alexey commented on #16
It looks like you don't have ConnectSDK in your dependency list

[2015-05-11 18:50] ds8k commented on #16
I've followed the instructions multiple times now. I just did what you listed above, here's my history:

[code]

I then opened the platforms/android folder with Android Studio, added in the line to my build.gradle:
[code]

And I get the following error:

[code]

Granted this is a different error.

[2015-05-11 19:28] ds8k commented on #16
I've now tried both Android Studio methods listed here: http://connectsdk.com/docs/android/setup/

Same result both times with my project.

[2015-05-11 19:31] frolov-alexey commented on #16
Did you install `Google Play Services`, `Android Support Repository`, `Android Support Library` in Android SDK Manager?

[2015-05-11 19:32] ds8k commented on #16
Yes.

I have all of this in the following branch for my project: https://github.com/ds8k/NerdyFM/tree/feature/connectsdk

[2015-05-11 20:34] ds8k commented on #16
Problem fixed. Ultimately I had a plugin that was including another instance of Play Services causing a build error. Fixed and closed.

[2015-05-11 20:34] #16 closed

[2015-05-25 22:07] LukePulverenti commented on #8
@khk624 What about iOS? Since you have not updated the source for iOS, will it still function if the call to connect() is removed? Thanks.

[2015-05-26 00:13] khk624 commented on #8
It seems iOS had not been updated yet.
@iadnan Can you please take a look at this?

[2015-05-26 01:44] ds8k opened #17 "Chromecast's always listed as DIAL?"
It seems like unless I recently casted something to my devices, ConnectSDK only detects them as DIAL devices.

[2015-05-27 00:31] iadnan commented on #8
@khk624  looks like you fixed it in Web-App-Sampler-Cordova and not in Connect-SDK-Cordova-API-Sampler .

[2015-05-27 08:19] khk624 commented on #8
@iadnan yes because Cordova API Sampler has no web app tester. We have Web app testing in Web-App-Sampler-Cordova.

[2015-05-27 17:27] LukePulverenti commented on #8
In the meantime while waiting for iOS, can you confirm the procedure for android? Is it just a matter of updating the code in the cordova plugin, or does this also require SDK library updates? Thanks.

[2015-05-27 21:37] iadnan commented on #8
@khk624 verified on iOS with  https://github.com/ConnectSDK/Web-App-Sampler-Cordova, its working as expected . @LukePulverenti Can you please verify it as well on iOS and let us know in case of any issues.

[2015-05-27 21:42] LukePulverenti commented on #8
Yes I'm happy to verify on both platforms, I just need some info on what the setup procedure is. The master branch has not been updated since June 2014, therefore I am using the Connect SDK from that time. So using that as my starting point, it sounds like I need to:

- Update the cordova plugin with these commits:

https://github.com/ConnectSDK/Connect-SDK-Cordova-Plugin/commit/2bb4ac327a68453378

[2015-05-28 13:31] drastick commented on #14
So, it's a month later and still not even one new commit.  Are you sure this isn't dead?

[2015-05-28 21:35] LukePulverenti commented on #8
Well, just for an update, i reworked my app slightly to match your web app sampler as much as possible. I did not update the cordova plugin. But yes, I can confirm, working as expected. My only problem now is not being able to rejoin sessions that have been previously left, although i need to do a little more debugging to be certain it's not my own problem.

[2015-06-05 13:32] LukePulverenti commented on #8
Having done more testing, I am unable to receive the same messages in android that I am in iOS. I made the code changes to the plugin, and made sure to call setWebAppSessionListener. Is there a known issue with this?

[2015-06-05 17:48] LukePulverenti opened #18 "iOS - Unable to receive web app messages after joining existing session"
Per this issue here:

https://github.com/ConnectSDK/Connect-SDK-Cordova-Plugin/issues/8

The 1.5 branch web sample code no longer calls session.Connect() when joining a web app session. This results in an inability to receive messages from the Chromecast receiver.

Further - if you hack the code to force a call to Connect(), the session disconnect event will fire against the previous session, even

[2015-06-05 18:15] LukePulverenti commented on #18
I think part of the problem is simply the web sampler and not the underlying native framework. The use of global this.session and this.device instances all throughout is not a safe practice when taking into consideration multiple devices and multiple sessions. I am able to eliminate some of the hacking mentioned above by passing the instances around rather than relying on a previously stored copy,

[2015-07-07 22:22] eunikolsky opened #19 "Testing support"
We need to setup tests for the cordova plugin. For example, unit tests can verify that js calls are translated into proper iOS/Android calls.

[2015-07-14 18:23] eunikolsky opened #20 "Chromecast: cannot display album art when playing media"
Comment for `playMedia` specifies `iconUrl` as a parameter to display an image for a media (https://github.com/ConnectSDK/Connect-SDK-Cordova-Plugin/blob/master/www/ConnectSDK.js#L1523). However, it doesn't work. Sample code, based on the `Connect-SDK-Cordova-API-Sampler` project:
[code]

I've found two bugs:
1. `displayMediaCommon:type:` method checks the `url` key instead of `iconURL`: https://g

[2015-08-11 18:51] #20 closed

[2015-08-25 15:35] #13 closed

[2015-09-09 21:28] #7 closed

[2015-09-09 21:32] Andolamin commented on #7
Looping is dependent on platform support and is only supported on webOS, currently.

[2015-09-09 21:35] Andolamin commented on #6
@VKhazinGladiator This issue should be fixed in the Cordova plugin 1.6.0 release.

[2015-09-09 21:45] Andolamin commented on #9
@FuningXu1 We aren't able to get the play state from Youtube, however, as of the 1.6.0 plugin release you can use the MediaControl capability on webOS to control Youtube playback.
[code]

[2015-09-09 21:46] #10 closed

[2015-09-09 21:46] Andolamin commented on #11
@Vaporexpress This issue is fixed in the 1.6.0 plugin release

[2015-09-09 21:49] Andolamin commented on #17
@ds8k This should be working correctly in the 1.6.0 release

[2015-09-25 15:36] joaolori opened #34 "CORDOVA BUILD FAILED"
Hello Guys,
I added the plugin to my cordova app, but when build getting error.
I have lastests versions of everthing, and all android stuff installed.

![image](https://cloud.githubusercontent.com/assets/3897677/10104806/68c6cc5c-63a3-11e5-8c4f-e3616d9c5c37.png)
![image](https://cloud.githubusercontent.com/assets/3897677/10104818/72bc9c8c-63a3-11e5-9b0a-652ff8260c53.png)

[2015-09-26 07:10] frolov-alexey commented on #34
Hi @joaolori. I see an error in your screenshot that `project.properties` file is missing but it is not needed for gradle, it was used in Eclipse. Can you explain how you are building this in Visual Studio? Do you use gradle?

[2015-10-14 09:30] ghenry22 opened #35 "Cordova Android build fails on dependencies"
Using the sampler app

add platforms for ios and android

add latest v1.6.0 connectsdk plugin

build for ios and everything works

build for android and I get the below error about unfound dependencies.  android sdk manager lists 23.0.1 as the updated replacement for 22.2.1 so I can't actually find a way to install the old version.

No problem with any other plugins.

Perhaps connectsdk plugin jus

[2015-10-15 04:07] ghenry22 commented on #35
I have submitted a pull request to fix the build dependencies to use the latest available dependency for the given API level.

It's a really small change and now the cordova sampler build properly for both android and ios for me.

[2015-10-15 04:10] ghenry22 opened #37 "Xcode7 bitcode error for cast library"
When building the API Sampler app with xcode7 for deployment to a real device it fails as the cast library is was not compiled with bitcode enabled.

You can work around this by disabling bitcode in the build settings (enable all settings to see the option).

BUT this is likely to become a blocker at some point for ios when Apple makes bitcode a requirement rather than an option.

I believe that f

[2015-10-15 06:54] navaneetharaopy opened #38 "Any methods to specify protocol to use (DIAL,UPNP or others) while searching devices."

[2015-10-15 07:22] navaneetharaopy commented on #38
Cordova plugin detects and displays my Chromecast device with following format

**Chrome_device_name**
 DIAL/Chromecast

OR sometimes

**Chrome_device_name**
 Chromecast

if `DIAL` is present launching app through ```device.getWebAppLauncher().launchWebApp(id)```
will fail . And the device name changes to "Eureka Dongle" from user-assigned name.

[2015-11-07 15:41] arulvanse opened #39 "Error When Building IOS Cordova"
Hi,

I tried this plugin to build iOS app but its showing error when trying to build the project

version: XCODE 6.2

Screenshot

![ss1](https://cloud.githubusercontent.com/assets/13417133/11015835/b84fa066-8593-11e5-82b3-578901f4931c.jpg)
![ss2](https://cloud.githubusercontent.com/assets/13417133/11015836/b87ce7b0-8593-11e5-8fed-09f90f3d6880.jpg)

Error

[code]

[2015-11-23 17:21] scottmizo commented on #6
I'm getting the same error:

Cordova plugin 1.6.0.
Cordova android 4.1.1
Android-22

device.getMediaPlayer().playMedia("http://media.w3.org/2010/05/sintel/trailer.mp4", "video/mp4")
        .success(function (launchSession, mediaControl) {
          console.log("Video launch successful")
        }).error(function (error) {
        console.log("error: " + error);
      });

detail: "com.connectsdk.

[2015-11-26 14:48] ds8k opened #40 "Conflict with Analytics Plugin"
After installing this plugin Android will no longer build, throwing this error:

[code]

Building with Cordova CLI 5.3.3, Cordova Android 5.0.0, and using the latest Ionic Framework.

Analytics plugin located here - https://github.com/danwilson/google-analytics-plugin/

[2015-11-27 20:01] scottmizo opened #41 "ConnectSDK.discoveryManager.stopDiscovery() causes FireTV to disconnect"
Cordova plugin 1.6.0.
Cordova android 4.1.1
Android-22
Running on Android 5.1.1

After connecting to a FireTV device, calling stopDiscovery() disconnects the device.  I have verified this with the Connect-SDK-Cordova-API-Sampler app.  Roku, Chromecast and AppleTV all maintain device connection after stopDiscovery().

LogCat is as follows:

I/chromium(20391): [INFO:CONSOLE(104)] "selected device in

[2015-11-28 05:24] eunikolsky commented on #41
@scottmizo, it is a known issue with FireTV devices. The Fling SDK requires the discovery to work in order to use any connected Fire TV device.
Strange, it's not written in the Android docs, but here is the same for iOS: https://github.com/ConnectSDK/Connect-SDK-iOS-FireTV#limitationscaveats

[2015-11-28 13:25] scottmizo commented on #41
@eunikolsky Thanks!

[2015-11-28 13:25] #41 closed

[2015-12-25 20:55] MyCreativeWebSolutions opened #42 "Android build dependency error"
There is dependency error for android cordova.. I tried with latest support libraries as well.. Any workaround?..

![build error](https://cloud.githubusercontent.com/assets/6107673/12004339/d8b0086e-ab77-11e5-8ce2-e8a6176da03f.png)

[2015-12-27 22:41] ba4z opened #43 "Android Crash on startDiscovery"
After installing the connectSDK plugin and adding the code, the android app crashes moments after startDiscovery executes.

There's no errors with installing the plugin and it works fine on my iOS app (phone and emulator) and on my android emulator.
I couldn't find anything about this message anywhere, so I hope someone can help me out with this.

This is the error I'm getting:
`12-27 15:34:53.220

[2015-12-27 23:42] luclanet commented on #42
Same for me.

[2016-01-08 18:45] luclanet commented on #40
No answers? Same for me but with admob plugin.

[2016-01-19 18:20] orilux commented on #40
We have been having similar problems with both the Analytics and the Admob plugins due to version conflict shown above. We were able to solve them by bringing the ConnectSDK plugin up to date through several workarounds with the plugin and the Cordova project, as you can see here: https://github.com/floatinghotpot/cordova-admob-pro/issues/286#issuecomment-171845551

@Andolamin, can you guys please

[2016-01-22 16:07] ElieSauveterre commented on #40
I had the same problem with google-analytics-plugin and cordova-plugin-locationservices.
In the plugin.xml file, one plugin required com.google.android.gms:play-services-location:7.8.0 and the other com.google.android.gms:play-services-location:+

I solved it by putting the same version of com.google.android.gms:play-services-location on both files.

[2016-01-22 18:35] boedy commented on #37
+1

related: https://code.google.com/p/google-cast-sdk/issues/detail?id=637

[2016-01-22 20:41] boostup opened #44 "connectsdk.com"
the connectsdk.com website is no longer available !!!  it redirects to godaddy !  does this mean the end of this project !  how to access the api doc ?

[2016-01-22 22:22] orilux commented on #44
This is not the first time connectsdk.com has been down, so I wouldn't read to much into it. I've been using Google Cache to access the documentation, like this: http://webcache.googleusercontent.com/search?q=cache:4Mh9oUj8HbAJ:connectsdk.com/docs/1-3/cordova/setup-instructions/+&cd=4&hl=en&ct=clnk
;)

[2016-01-23 12:44] boostup commented on #44
oh really !?  not the first time ??? ok, so it's not necessarily the of connect sdk then ?

and thanks for link !!!!

[2016-02-05 03:09] ghenry22 commented on #42
I submitted a pull request to fix android dependencies but seems like no one is interested in merging

It's a simple fix, just check the pull requests on the repo for the details

[2016-02-06 09:22] iliasbhal commented on #44
do someone have a way to connect to the website ? or have a copy of the website ?
i'm trying would like to use this plugin in my project but i cannot find a way to access the API / Doc ..

Thanks a lot guys !

[2016-02-06 15:47] orilux commented on #44
Hi @iliasbhal, the Wayback Machine seems to have a decent snapshot of the site: https://web.archive.org/web/20150515080254/http://connectsdk.com/docs/cordova/

Also, the Cordove Sampler app's code is a good reference, because it covers every single aspect of the API: https://github.com/ConnectSDK/Connect-SDK-Cordova-API-Sampler

[2016-02-11 10:29] christophziegler opened #45 "API Doc not available"
http://www.connectsdk.com/apis/cordova/ responds: "HTTP Error 503. The service is unavailable."

[2016-02-11 10:37] #45 closed

[2016-02-13 08:36] iliasbhal commented on #44
Thanks a lot @orilux  :)  !

[2016-02-13 17:55] iliasbhal opened #46 "API error: Could not detect if web app launched"
Hi bros ,
I can use the connectSDK with AirPlay , it works but with Chromecast it doesn't work ..

Error message on Xcode :
"**API error: Could not detect if web app launched -- make sure you have the Google Cast Receiver JavaScript file in your web app**"

I'm using the sample app appID .

Can someone help me understand what i missed ?

Thank you guys !

[2016-02-17 18:19] iliasbhal commented on #46
my bad, i order to launch an app with ConnectSDK, you have to connect to the device first ( device.connect() ) , wait to see if it is ready to launch an app with ( device.isReady() ).

[2016-02-17 19:46] #46 closed

[2016-02-26 07:54] MyCreativeWebSolutions opened #47 "ConnectSDK cordova CapabilityFilters"
Is there some capabilityfilter options to filter ONLY airplay and chromecast devices?

[2016-02-26 15:24] orilux commented on #47
Hi @MyCreativeWebSolutions, in your case you do not need to filter for capabilities, but for services. Here's a function that will return only AirPlay and Chromecast devices:

[code]

[2016-02-26 20:07] MyCreativeWebSolutions commented on #47
Thank you somuch!.. Any ideas on how can I implement this with pickdevice() pop up function?

[2016-02-26 20:52] orilux commented on #47
The built in pop-up is native. It won't be very simple to customize it with that filter. You'd have to start a custom branch of the whole plugin and make changes for both Android and IOS. You'd probably need to look at this file in the core library for the Android version: Connect-SDK-Android-Core/src/com/connectsdk/device/DevicePickerAdapter.java

Instead of doing all of that I would recommend ju

[2016-02-28 07:06] dayaki commented on #44
They have a new website: http://www.svlconnectsdk.com

[2016-03-02 13:43] dayaki commented on #17
This seems not to be working yet.

[2016-03-02 16:26] dayaki opened #48 "device.getLauncher().launchYouTube(video) not working"
device.getLauncher().launchYouTube(video) indeed launches the YouTube app but always stuck by just showing the youtube logo.

NB: Everything I tried to pick my chromecast device, it always says "Chromecast, DIAL"......

[2016-03-03 18:42] MyCreativeWebSolutions commented on #47
Hi @orilux Thank you somuch for your help!.

The major issue we noticed in Cordova ConnectSDK is, the event "devicelistchanged" never fires..

Ex:-

ConnectSDK.discoveryManager.startDiscovery();
ConnectSDK.discoveryManager.on('devicelistchanged', 'getFilteredDevices', false);

function getFilteredDevices() {
alert("List changed");
}

[2016-03-04 09:36] MyCreativeWebSolutions commented on #47
The events "devicefound" and "devicelost" are also not firing in Cordova

[2016-03-04 09:43] orilux commented on #47
Hi @MyCreativeWebSolutions, it looks like you are not passing your callback function correctly. You shouldn't pass the name of the function as a string. Change your code to this and see if it works:

[code]

[2016-03-08 04:11] Peterede opened #49 "media server discovery"
I am new to the Connect SDK Plugin and I would like to be able to find media servers on the local network in a similar way to how the Connect SDK Plugin finds devices, is this possible?  If I could create an SSDP discovery object and find ::urn:schemas-upnp-org:device:MediaServer:1 this would allow me to browse the media server using an http post.

[2016-03-10 13:43] MyCreativeWebSolutions commented on #47
Hi @orilux That was very much helpful!.... Finally, we need to store this filtered list in a javascript sessionStorage or localStorage and retrieve it later. Any ideas on this?. Getting difficulty in storing this filteredlist in session.

[2016-03-11 09:12] orilux commented on #47
I am guessing this is because of the asynchronous callback of $.each(). In other words you are probably adding filteredDevices to sessionStorage before $.each() has finished adding elements to it.

A quick thing to try is to move the sessionsStorage code inside the iterator like this:

[code]
Keep in mind that this overwrites the sessionsStorage for every item in the array, so it is not the best s

[2016-03-11 10:08] MyCreativeWebSolutions commented on #47
@orilux  Looks like I can store deviceId or friendlyName in filteredDevices array and later retrieve it from sessionStorage without any issues. But entire device object cannot be stored or alerted using JSON.stringify.

Is there a possible way to store only device parameter like its deviceID or friendlyName and later initiate a device object using that parameter?.

[2016-03-11 16:01] orilux commented on #47
Saving the entire device object is a very bad idea, because the device's ip address might have changed next time you try to connect.

You should save the deviceId and then when devicelistchanged fires you should iterate through all the devices in the array and look for the one that has a matching id. However if there is more than one device on the network devicelistchanged is going to fire multipl

[2016-03-11 16:45] MyCreativeWebSolutions commented on #47
Hi,

The major challenge here is, we need to save devices on devicelistchanged event and create a custom device picker that gets called on a button click. Any ideas on how to handle this situation? We are just trying to create a custom device picker here as per this thread.

Thanks in advance!

[2016-03-14 17:31] MyCreativeWebSolutions commented on #47
@orilux Hi Orilux,

We are very much thankful for your help so far!. Finally, any ideas on how to handle our current challenge?.

Thanks,

[2016-03-21 07:56] MyCreativeWebSolutions commented on #47
@orilux @penelopus @Andolamin @jlai Hi Team,

Can we please get some final thoughts on handling the above situation?. We really wish default picker would have device filtering instead of building this custom picker. Anyhow, We're expecting some small help in building the custom picker here. We are about to launch the App and this is the final thing holding us from doing that.

Thanks,

[2016-03-30 13:51] anteburazer commented on #48
Hi dayaki

I have the same issue. Did you find a solution for this problem?

Thanks

[2016-04-14 13:30] Valkno opened #50 "Problem to use with AdMobPro"
[code]

I have those plugins, but i detect the problem is with AdMobPro plugin
The problem is because Admobpro use the latest libraries 8..., and ConnectSDK use 7...

[code]

[2016-04-14 21:30] orilux commented on #50
Hi @Valkno, I've posted a solution to this on AdMobPro's issues page: https://github.com/floatinghotpot/cordova-admob-pro/issues/286#issuecomment-171845551

You may also be able to save yourself the trouble of going through these steps by hard-coding version 8.+ on the following line of plugin.xml: https://github.com/ConnectSDK/Connect-SDK-Cordova-Plugin/blob/master/plugin.xml#L77

however i have

[2016-04-15 05:22] Valkno commented on #50
Hi, Thank!, Follow the steps and worked perfectly!.
You should try to pull request with these changes.

[2016-04-15 05:23] #50 closed

[2016-04-15 12:25] orilux commented on #50
Glad it worked. This SDK has been abandoned by LG so there is no point in doing a pull request. A fork was started at https://github.com/BeamSDK/Connect-SDK-Cordova-Plugin, where I might do the fix.

[2016-04-27 05:40] dankunwizard opened #51 "Cordova HLS"
I can successfully play Sintel movie over Chromecast following the cordova plugin documentation (http://www.svlconnectsdk.com/docs/1-6-0/cordova/discover-connect/) but HLS isn't working. I've tried different MIME values but no luck. Does the plugin support HLS?

[2016-04-28 15:49] #51 closed

[2016-04-30 15:15] Gioggiolo commented on #43
Same issue here. It happens when a chromecast device is discovered.
Did you find any solution/reason?

[2016-05-01 12:56] Gioggiolo commented on #17
Same issue here on android.. I'm going to try on iOS.

[2016-05-02 17:56] ba4z commented on #43
I tried for a couple hours to get past that error, but nothing seemed to have worked.
I was hoping the creators of this plugin would be able to solve this issue in time. But since you're still having this issue, it doesn't seem like it

[2016-05-20 18:07] Danyzzz commented on #48
I'm interested...there is a news?

[2016-05-20 18:10] dayaki commented on #48
No solution yet.

[2016-05-20 18:17] Danyzzz commented on #48
you have found an alternative solution a connectsdk ?

[2016-05-20 18:40] anteburazer commented on #48
No, I haven't been trying anything yet. Their support didn't respond on my enquiry so I can't reach them. Please let us know if you find out something.

Thanks

[2016-05-21 15:30] Danyzzz commented on #48
There is this question on stackoverflow, someone can be helpful to understand more ?
http://stackoverflow.com/questions/18115563/open-chromecast-youtube-video-from-my-android-app

[2016-05-28 17:16] jasmin89 opened #52 "Chromecast + Cordova - problem with playing movie"
Hi, I am trying to run ConnectSDK in Cordova. I can connect with my Chromecast device, but when I try to call device.getMediaPlayer().playMedia(("http://media.w3.org/2010/05/sintel/trailer.mp4", "video/mp4");, I get error:

com.connectsdk.cordova.JSCommandDispatcher$DispatcherException: Exception calling playMedia: java.lang.NullPointerException: Attempt to invoke interface method 'void com.connec

[2016-05-28 22:15] jasmin89 commented on #52
I have already fixed it. In this case the chromecast was discovered always only as a DIAL device and the solution written by @jamescahall resolved my problem.

jamescahall commented on 22 Jan:
_Ok. So the issue is that "onRouteAdded" is not getting called (except for like 1% of the time it seems). Instead "onRouteChanged" is being called. In this function, it checks to see if it's a new found serv

[2016-06-01 15:05] pliablepixels commented on #43
I seem to be having the same problem on Android - works fine on iOS. Anyone found a solution yet?

[2016-07-28 12:42] ARDde commented on #17
Same issue on Android 5.1.1 and ConnectSDK 1.6.
If you run the Cordova-API-Sampler first, Chromecast always listed as DIAL. Hide the App an start another App with, also with ConnectSDK, Cromecasts listed as DIAL/Chromecast and it works.

[2016-08-16 16:20] Sprotte commented on #17
I have also the same Problem, is there any kind of workaround or hot fix for this problem, i m also using the 1.6?

[2016-08-16 16:22] Sprotte commented on #52
Where do you found the CastDiscoveryProvider, he is not part of the Cordova SDK, he comes from the native SDKs? Can you explain me how to apply these fix?

[2016-08-17 08:04] ARDde commented on #17
I have implemented a Hotfix. Replace this methode in CastDiscoveryProvider.java and everything is find.

@Override
        public void onRouteChanged(MediaRouter router, RouteInfo route) {
            super.onRouteChanged(router, route);

            CastDevice castDevice = CastDevice.getFromBundle(route.getExtras());
            String uuid = castDevice.getDeviceId();

            ServiceDescript

[2016-08-17 08:28] Sprotte commented on #17
Thank you really for your answer, but i still have one problem i cant locate these file "CastDiscoveryProvider" in the connect sdk cordova?

[2016-08-21 08:50] jasmin89 commented on #52
@Sprotte , this file is a part of native SDK `(/your_app/platforms/android/cordova-plugin-connectsdk/Connect-SDK-Android/modules/google_cast/src/com/connectsdk/discovery/provider/CastDiscoveryProvider.java)`

In this file you have to find method `public void onRouteChanged(MediaRouter router, RouteInfo route) ` and add it:

            if (isNew) {
                foundService = new ServiceDescrip

[2016-08-24 08:22] mtkopone commented on #43
I have the same problem. After some investigation, I think it could be due to conflicting versions of google-play-services jars. Our project also includes cordova-plugin-google-analytics, which depends on a different version of some of the google-play-services jars. Removing the analytics plugin made my app not crash anymore.

I hope this helps others struggling with the same problem.

[2016-08-24 08:44] dakar89 opened #54 "Duplicate symbol error when building for ios"
I get the "duplicate symbol"-error when i try to build a cordova app for ios.
The error seems so be caused by having another plugin installed that also uses the GCDWebServer (CordovaLocalWebServer).

So, because the GCDWebServer-files are located inside the ConnectSDK.framwork, they will conflict with the GCDWebServer-files locatated in my Plugins-folder in the XCode project.

This is the first "d

[2016-09-05 14:24] pliablepixels commented on #43
Glad you got this working @mtkopone - in my case, I am not using GA at all. In recent versions of google play services, google has split up the play files into different `aar` files and the recommended way to add play services is via specifying build.gradle deps, which I am doing with `9.0.2+` - the only other library I use which uses gms play services is plugin push which works just fine. Connect

[2016-09-08 20:17] scottmizo opened #55 "ConnectSDK.discoveryManager.startDiscovery causes app to crash on Android 7.0"
Cordova 5.4.1
Cordova Android 4.1.1
Connect-SDK-Cordova-Plugin 1.6
Android 7.0

When calling ConnectSDK.discoveryManager.startDiscovery(), the app crashes.
Error occurs with a custom app and connectsdk.cordova_api_sampler.
Error is not present with Android 6

Stack trace:

WhisperLink: WhisperLinkPlatform - bindSdk: app=com.connectsdk.cordova_api_sampler
WhisperLink: WhisperLinkPlatform - bindSdk:

[2016-09-09 21:05] scottmizo commented on #55
After a little debugging, here are some notes:

1) The issue only occurs when passing capability filters to startDiscovery.
2) Definitely related to SSDPDiscoveryProvider.
3) It looks like the provider is spawning multiple SSDPClients due to isRunning being false. Could be happening when the client is restarted after applying filters?

Simple work around is not to send capability filters.

[2016-09-10 13:58] scottmizo commented on #55
Some more notes:

It looks like something is up with the responseThread and notifyThread not being properly interrupted.  If I call stop instead of interrupt, everything works again.  Less than ideal since stop is deprecated and highly discouraged.

[2016-09-12 23:27] scottmizo commented on #55
Final solution:

Calling stop on the thread actually didn't do anything since Cordova threw and error.  Turns out that datagramSocket.disconnect() was hanging the thread.   Is disconnect necessary?

[2016-09-13 13:06] #55 closed

[2016-09-27 07:08] zookz commented on #43
+1

[2016-10-17 14:08] frismedia opened #56 "Android install fails: update url not reachable"
I wanted to re-install the plugin because I had to remove and re-add the Android platform because something wasn't working right, but when cordova tried to check for updated configuration for this plugin, it gave an error.

After doing some research I found that you're using the URL http://ec2-54-201-108-205.us-west-2.compute.amazonaws.com/CordovaPlugin/1.6.0/Android/paths.json for checking for up

[2016-10-28 01:41] jasmin89 commented on #56
I have the same problem. It would be great if you could resolve it

[2016-11-15 23:49] JRogaishio commented on #52
@jasmin89 Thank you so much for your solution. I've been pulling my hair out for the last hour wondering why the service would only work *sometimes*.

[2016-11-18 23:20] federicotarantino opened #57 "Android build fails"
Step to reproduce:

cordova create test
cordova platform add android
cordova plugin add cordova-plugin-connectsdk
cordova build android

I have this error:
A problem occurred configuring root project 'android'.
Cannot evaluate module Connect-SDK-Android : Configuration with name 'debug' not found.

It seems a gradle error.

Thanks

[2016-12-02 14:35] fmp777 opened #58 "install fails if IOS project has a space in its name"
Need to wrap the rm value in quotes

cordova plugin add cordova-plugin-connectsdk

Encountered an error, reverting install steps
{ Error: Command failed: rm /Users/x/repos/x/platforms/ios/Space Here/Plugins/cordova-plugin-connectsdk/ConnectSDK.framework
rm: /Users/x/repos/x/platforms/ios/Space: No such file or directory
rm: Here/Plugins/cordova-plugin-connectsdk/ConnectSDK.framework: No such file

[2016-12-05 12:45] dkonovalov opened #59 "Beaming of web app is failing on Chromecast"
I try to use ConnectSDK following your example code (basic cordova app with ConnectSDK plugin). I have Chromecast V2, which is standard. I am able to enumerate cast devices on the network and connect to my chromecast, but when I try to beam web app, I end up in the error callback, with a error message like this:
"Exception calling launchWebApp: java.lang.NullPointerException: Attempt to invoke int

[2016-12-12 14:17] mtkopone commented on #57
I can confirm this happens after upgrading cordova android platform to >= 6.0.0

As this is also a problem for me, any help to finding out what's causing this would be nice...

[2016-12-12 14:23] federicotarantino commented on #57
It seems a bug of cordova in 6.4.0. Try with 6.3.0. Worked for me (you must remove platform and re-add)

[2016-12-12 14:26] federicotarantino commented on #59
What webapp-id are you using in casting example?

[2016-12-12 16:27] dkonovalov commented on #59
Hi. I used "C975EE6E" as a webapp-id.

[2016-12-13 09:04] federicotarantino commented on #59
Are you verified if this webapp exists?

[2016-12-13 09:18] dkonovalov commented on #59
Of course. As stated in original post, I am able to connect to this app by using Google demo javascript casting client. And, I am getting the same error result with ConnectSDK if I use any of the Chromecast demo applications I was able to find, so I do not think it is app related, but rather should be an SDK problem.

[2017-01-19 10:04] alexb-geronimo commented on #55
@scottmizo Can u please tell me how did u solve this? U just updated the 'com.connectsdk:connect-sdk-android:1.6.0' or you did something extra in your code, like not disconnecting something?

[2017-01-19 12:15] scottmizo commented on #55
@alexb-geronimo Yes.  Remove the datagramSocket.disconnect() from the SSDPClient.

https://github.com/ConnectSDK/Connect-SDK-Android-Core/pull/93/commits/edc686aaa0eed1cdac5e70b97c050ebb69c04d5f

[2017-01-25 02:30] jdomian commented on #52
This worked for me as well. Was having the same issue when trying to invoke .launchWebApp(). Thanks for the fix.

[2017-02-24 09:55] Vaporexpress commented on #11
@Andolamin the issue is solved for the "second callback return"  but subscribePlayState doesn't work.
Needs small changes in ConnectSDK.js:
1) In MediaControlWrapper create class declaration "_sendCommand" should be like this:
    _sendCommand: function (command, params, subscribe) {
        params = params || {};
        params.objectId = this._objectId;
        subscribe = subscribe || false;

[2017-03-09 09:58] firecow commented on #57
I'm using Cordova 6.5.0 & Cordova-Android 6.1.2, am also this error message.
I'll try downgrading versions, to locate which version introduced the bug.

[2017-03-09 11:33] firecow commented on #57
Cordova-Android 5.2.2 is highest working, settings for avoiding this error message.
Main Cordova version doesn't matter.

How can we fix up the code to build with lastest Cordova-Android 6.1.2 ?

[2017-06-01 06:30] rafagouveia opened #60 "Build failed in Android Cordova, HELP"
`C:\Users\rafael\Stream>`cordova run android
`ANDROID_HOME=C:\SDK`
`JAVA_HOME=C:\Program Files\java\jdk1.8.0_131`
No target specified, deploying to device '0428809592'.

: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'android'.

        Searched in the following locations:
            https://jcenter.bintray.com/com/android/support/support-v4/22.2

[2017-06-11 00:14] rafagouveia commented on #60
Resolved, i  installed in android sdk the Play Services Package

[2017-06-11 00:14] #60 closed

[2017-06-27 06:58] AA12RTYUIOPL commented on #57
I've just found a workaround. It's working on Cordova-Android 6.2.3.

- Inside your project open **platform/android/cordova/lib/builders/GradleBuilder.js** _(or **node_modules/cordova-android/bin/templates/cordova/lib/builders/GradleBuilder.js** if you have not added Android to your platforms yet)_.
- Look for the lines who says:
`depsList += '    debugCompile(project(path: "' + libName + '", conf

[2017-06-28 07:49] charliepeden commented on #57
Thanks AA12RTYUIOPL, i have been trying to get this plugin to work. I have tried you fix but i now get this error which i cannot resolve:

A problem occurred evaluating project ':cordova-plugin-connectsdk:Connect-SDK-Android'.

[2017-06-28 07:50] charliepeden commented on #57
Hello AA12RTYUIOPL, thanks for the help however i am still getting an error i cannot resolve. Any ideas?

 A problem occurred evaluating project ':cordova-plugin-connectsdk:Connect-SDK-Android'.

[2017-06-28 19:09] AA12RTYUIOPL commented on #52
Also worked for me. Thank you so much, @jasmin89

[2017-07-05 18:57] presharatin opened #61 "Following steps in set up docs - Uncaught ReferenceError: connectSDK is not defined"
Hi all,

I am following the steps on the website to set up http://www.svlconnectsdk.com/docs/1-6-0/cordova/discover-connect/

I have installed the SDK successfully, built and run the Android build. I have the button on screen but i am getting an uncaught reference error when selecting the button?

Anyone able to assist?

Error:
index.js:36 Uncaught ReferenceError: connectSDK is not defined
    at

[2017-07-05 21:28] presharatin commented on #61
0
down vote
accept
I realised i was missing the cordova.js script in my HTML:

New Code:

[code]
Still no picker when built for android. When i load index.html directly in chrome i now get the following pop ups.

https://i.stack.imgur.com/qwS9J.jpg https://i.stack.imgur.com/Q1L81.jpg

If i cancel the pop ups i get these errors:

[code]
If i accept the pop ups i get these errors :

[code]

[2017-07-10 19:59] AA12RTYUIOPL commented on #48
I'm facing the same issue. Is there any solution?

[2017-07-10 20:00] AA12RTYUIOPL commented on #17
thank you so much, @ARDde !
It worked for me

[2017-07-11 19:28] xjeeh commented on #51
did you found the solution? I'm facing the same issue..

[2017-07-17 13:14] KlaasVanDerLinden opened #62 "Error: Cannot find module 'internal/fs'"
cordova -v
7.0.1

npm -v
5.0.3

node -v
v8.1.4

When running the following command:
cordova plugin add cordova-plugin-connectsdk
I get the following error:

Installing "cordova-plugin-connectsdk" for android
Subproject Path: CordovaLib
Subproject Path: cordova-plugin-connectsdk/radio_app-Connect-SDK-Android
Failed to install 'cordova-plugin-connectsdk': Error: Cannot find module 'internal/fs'

[2017-07-27 08:45] Bejor commented on #62
I have got the same Problem.
Is there anyway how I can fix this issue because I am not able to find a Plugin which supports as much Platforms as this Plugin!

cordova -v
7.0.1

npm -v
5.2.0

v7.9.0

[2017-07-28 05:42] rajesh-boda commented on #47
Hi,
Here i am unable get android set top box device list in DiscoveryManager. It showing only LG TV devices only.
Please help us to get android devices too in connectSDK

[2017-08-03 09:55] Bejor commented on #62
I fixed this issue.

I used the node 6 version via the nvm command and added the android platform on version 5.2.2.
And everything worked perfectly fine.

[2017-08-31 05:20] MrPeproni opened #64 "declares a dependency from configuration 'debugCompile' to configuration 'debug' which is not declared in the descriptor for project :cordova-plugin-connectsdk:Connect-SDK-Android"
[code]

[2017-09-13 11:49] MrPeproni commented on #64
Solved

[2017-09-13 11:49] #64 closed

[2017-09-13 11:52] MrPeproni opened #65 "Cashing on Android 7.0"
I am trying to run this plugin for android 7.0 and my app get stuck at splash screen. Also my app doesn't show "Device is Ready"

[2017-09-13 12:01] MrPeproni commented on #61
try to run cordova plugin add cordova-plugin-connectsdk again

[2017-10-25 07:21] devcer opened #66 "How to import connectsdk in my ionic 3 app"
I added the cordova plugin using the following command in my ionic app
`ionic cordova plugin add cordova-plugin-connectsdk`

But I cannot use the method `ConnectSDK.discoveryManager.startDiscovery();` in any page since I haven't imported the plugin to my page. I'm not sure how to import this particular plugin. any help?

[2017-11-07 09:02] tHesTx opened #67 "'maven-push.gradle' as it does not exist"
$ cordova -v
7.0.1

$ npm -v
4.2.0

$  node -v
v7.5.0

$ ionic -v
3.15.0

FAILURE: Build failed with an exception.

* Where:
Build file 'C:\PathTo\Aplicatie2\ultibro\platforms\android\cordova-plugin-connectsdk\mayapp1-Connect-SDK-Android\build.gradle' line: 76

* What went wrong:
A problem occurred evaluating project ':cordova-plugin-connectsdk:breezehaler2-Connect-SDK-Android'.

* Try:
Run with -

[2017-11-08 13:54] arjunmenon opened #68 "Modular version and Openhome"
Hey
If I remove references to play services in the `build.gradle`, will this work?
I simply require a lean version of only Upnp/DLNA only. Nothing else.

Can you please tell me what all dependencies need to be removed?

Also, is there an implementation on Openhome?

PS - because of playservices this plugin cann't be build using online build services. No mac. Required

[2017-12-19 15:08] mkalyon commented on #64
Hi,
How to solve it?

[2018-01-02 04:56] phablulo commented on #66
I'm a bit late, but I hope to help someone else with the same issue.
After adding the plugin, just use `declare var ConnectSDK;` on the top of the page you want to use it.

[2018-01-02 05:01] phablulo opened #69 "This repo is dead. Is there an good alternative?"

[2018-01-09 01:11] lmaiacosta commented on #62
UP
Someone have a solution to recent versions of cordova?
Failed to install 'cordova-plugin-connectsdk': Error: Cannot find module 'internal/errors'

[2018-02-04 00:28] Sibren opened #70 "Installing error"
I am installing this in Visual Studio 2017. It gives me the following output:

`Installing plugin 'cordova-plugin-connectsdk'
No scripts found for hook "before_plugin_add".
No version specified for cordova-plugin-connectsdk, retrieving version from config.xml
No version for cordova-plugin-connectsdk saved in config.xml
Attempting to use npm info for cordova-plugin-connectsdk to choose a compatible

[2018-03-26 16:28] nerows commented on #70
I get the same error even by downloading the node.js version .... I think the project has died...:(

[2018-03-26 17:24] nerows commented on #70
fail in Android, on iOS ok..

[2018-04-07 19:52] mrdu3nde commented on #70
alguien encontró una solución para este error? han probado con otras versiones?

[2018-04-07 22:49] mrdu3nde opened #71 "plugin error cordova"
I have configured all my work environment, I use the cordova cli, and when I install the plugin cordova plugin add cordova-plugin-connectsdk, I get the following error error command failed: c: \ Windows \ system32 \ cmd.exe / s / c "git checkout tags / 1.6.0", has someone happened the same? or have a solution

[2018-04-07 22:53] mrdu3nde commented on #61
Could you install the plugin? I have been trying for 6 days and nothing that I could, I get the following error:
 failed: c: \ Windows \ system32 \ cmd.exe / s / c "git checkout tags / 1.6.0", have someone happened the same? or have a solution

[2018-04-07 22:54] mrdu3nde commented on #56
We are with the same error, it hurts that the plugin can not be used

[2018-04-07 22:56] MrPeproni commented on #61
@mrdu3nde is this for me or somebody else?

[2018-04-30 18:27] patrickoliveras commented on #64
Hi @MrPeproni ! It would be nice if you shared with us how you solved this issue. We're having the same problem on our team and are wondering if it would trouble you to remember how you overcame this.

Cheers!

[2018-05-09 21:57] fana605 commented on #67
@tHesTx Have you ever fixed this error?

[2018-06-22 12:51] drobazko commented on #67
The same issue for me

[2018-07-17 00:49] devroldan commented on #66
phabullo,  does your solution work? The console sends the following error:

[code]

[2018-07-17 01:00] phablulo commented on #66
Not anymore, @devroldan. Two months ago I spent a couple days trying to make it work with no success. You could look up the [forks](https://github.com/ConnectSDK/Connect-SDK-Cordova-Plugin/network/members) to see if someone is still maintaining the project

[2018-08-11 22:56] mlerena opened #76 "Error checking for updates, using default configuration (install might fail)"
This url es dead,
http://ec2-54-201-108-205.us-west-2.compute.amazonaws.com/CordovaPlugin/1.6.0/iOS/paths.json

[2018-09-26 02:49] maikolestevez commented on #67
Same for me, help please!!

[2018-09-26 11:28] maikolestevez opened #77 "IONIC 4 Failed to install cordova-plugin-connectsdk: Error: Cannot find module internal/util/types"
Hello, thanks for this good plugin it really helps.

 installing the plugin Im getting this:

[code]
Cordova
8.0.0

Node
v8.12.0

npm
6.4.1

IONIC
 4.1.2

[2018-10-01 23:01] iber-fernandez-darkmaster commented on #67
Have you ever fixed this error :'(?

[2018-10-16 19:58] ClosetMonkey commented on #77
Same issue using vanilla Cordova (no Ionic)

cordova -v:
8.1.2 (cordova-lib@8.1.1)

node -v:
v10.12.0

npm -v:
6.4.1

[2018-10-16 21:28] ClosetMonkey commented on #70
same issue. downgraded cordova to 5.2.0 (as per http://www.svlconnectsdk.com/docs/1-6-0/cordova/setup-instructions/). Downgraded node.js to 5.12 as stated for cordova-cli compatibility. no fix?

[2018-10-16 21:36] ClosetMonkey commented on #76
Same with Android

Dead link:
http://ec2-54-201-108-205.us-west-2.compute.amazonaws.com/CordovaPlugin/1.6.0/Android/paths.json

In File:
https://github.com/ConnectSDK/Connect-SDK-Cordova-Plugin/blob/master/scripts/android-install.js

[2018-10-18 20:54] jkerb8 commented on #77
Having this same exact issue here.

cordova - 8.1.2
node - v10.10.0
npm - 6.4.1

OS is Ubuntu 18.04.1 LTS. This is the only plugin that I've tried to add to my project that I've had installation issues with.

[2018-12-19 14:40] devshisiyani commented on #77
I have the same issue.
I have un-installed node js and re-installed without any success.
npm -v
6.5.0
node -v
v10.14.2
cordova -v
8.1.2 (cordova-lib@8.1.1)

My OS is windows 10.
I have created a simple project hello

error
Subproject Path: cordova-plugin-connectsdk/hello-Connect-SDK-Android
Failed to install 'cordova-plugin-connectsdk': Error: Cannot find module 'internal/util/types'
    at Functi

[2018-12-20 11:11] powysm commented on #77
I am seeing similar on a vanilla cordova.

npm -v
6.5.0
node -v
v8.10.0
cordova -v
8.1.2 (cordova-lib@8.1.1)

I am on ubuntu.

I have read a few other posts and have tried npm audit fix and npm rebuild.
removing node_modules and re-added all with no avail.

[2019-03-13 20:42] plauzul opened #78 "Where can I find the documentation?"
http://connectsdk.com returning "This site is currently unavailable".

[2019-05-05 21:45] mateusmirandaalmeida commented on #17
The above correction causes my app to close itself. Any idea?

[2019-07-05 13:23] vineeth059 commented on #77
same here

[2019-08-19 08:13] Lindsay-Needs-Sleep commented on #77
I just submitted a pull request which fixes this issue for me on Cordova 9.0.0

I think it will work other versions as well.

Basically, the required node_modules were committed to the repo and were not dynamically retrieved by node before install.  So removing the hard-coded node_modules and adding them to the dependencies seems to have worked.  (I'm thinking the hard-coded node_modules worked wi

[2019-09-06 06:14] pgcan commented on #77
Hi @Lindsay-Needs-Sleep, did u get the cordova project compiled after you successfully added the plugin? I was able to add the plugin using your fork but then no luck in building the cordova project. I tried fixing build.gradle but everytime it throws new error. Can you please help?

[2019-09-06 07:48] Lindsay-Needs-Sleep commented on #77
Hi @pgcan!

Sure, what error did you get?

(If you haven’t done this) You can also try deleting these 3 folders:
node_modules
platforms
plugins

and then running “cordova prepare android” again

[2019-09-06 07:58] pgcan commented on #77
Thanks @Lindsay-Needs-Sleep for your quick response, after struggling a whole day I removed this plugin and now I am trying another plugin (cordova-plugin-presentation). I will get back to you if I decide to use this plugin again.

[2019-09-06 08:41] Lindsay-Needs-Sleep commented on #77
For sure!

To be fair, I also moved away from this plugin, I wasn’t able to get the plugin working the way I had hoped and due to development difficulty I left [submodules are the worst o.o].  I went back to trying to get cordova-plugin-chromecast to work properly.  Maybe in the distant future I will return.  The potential of this plugin is much greater I think.

Please share how cordova-plugin-pr

[2019-11-14 10:14] kapilrc opened #84 "Initiate Airplay/cast within the App"
Is it possible to start discovery, listen to Apple TVs and connect to one within the App and without enabling mirroring manually?

After the devices are listed, I try to pick Apple TV, App shows error message popup "Mirroring Required. Enable Airplay mirroring to connect to this device".

Is Apple limiting access to AirPlay and mirroring capabilities in its public APIs and Cordova/Native Apps cann

[2020-03-14 03:05] yashshah commented on #69
Did anyone find the alternative yet?

[2020-03-16 04:43] phablulo commented on #69
sadly, no